<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
</head>
<body>
<p> {{info['news']['title']| safe}}</p>
<br>
<p> {{info['news']['paragraph']| safe}}</p>
<br>
<p>{{info['image']['paragraph']| safe}}</p>
<img src= "{{info['image'] | safe}}">
<br>
<p> {{info['table'] | safe}}</p>
<br>

<ul id="data_dict">
    {% for item in info['mars_hemispheres'] %}
        <li> {{item['titles'] | safe}}
            <br>
            <br>
            <img src="{{item['img_url'] | safe }}"></li>
            <p></p>
            <p></p>
            <!-- <a href="{{info.mars_hemispheres[0].img_url | safe}}">{{info.mars_hemispheres[0].title | safe }}</a></li> -->
    {% endfor %}
    </ul>
</body>
</html>