<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
</head>
<body>
<p> {{info['news']['title']| safe}}</p>
<br>
<p> {{info['news']['paragraph']| safe}}</p>
<br>
<p>{{info['image']['paragraph']| safe}}</p>
<img src= "{{info['image'] | safe}}">
<br>
<p> {{info['table'] | safe}}</p>
<br>
<!-- <p> {{info['mars_hemispheres'][0] | safe}}</p> -->
<!-- <p> {{info['mars_hemispheres']['titles'][1]| safe}}</p> -->
<!-- <p> {{info['mars_hemispheres']['img_url'][1]| safe}}</p> --> -->

<ul id="data_dict">
    {% for item in data_dict %}
        <li><a href="{{info.mars_hemispheres[0].img_url | safe}}">{{info.mars_hemispheres[0].title | safe }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>